.MessageList {

    flex: 1;
    width: 75vw;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    transform: rotate(180deg);
    direction: rtl;
    height: 100vh;
    margin-bottom: 50px;
    

}
.Message {
	
	background-color: #adb3bb;
	margin-bottom: 10px;
	box-shadow: 1px 2px;
	width: 50%;
	padding: 5px;
	border-radius: 5px;
	transform: rotate(180deg);
	direction: ltr;
	min-height: 50px;
}
.Message strong {
	display: block;
	color: white;
	background-color: #5587ba;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.Message span {
	display: block;
	color: #343638;
}


