.Users {
    display: flex;
    flex: 1;
    width: 25vw;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.UsersOnline {
    padding: 20px;
    text-align: center;
    background: #5587ba;
    margin-bottom: 10px;
    box-shadow: 1px 2px;
}

.UsersList {
    margin: 0;
    padding: 0;
}

.UserItem {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    background-color: #707884;
    box-shadow: 1px 2px;
    width: auto;
}